[submodule "boinc/boinc"]
	path = boinc/boinc
	url = https://github.com/BOINC/boinc.git
	ignore = dirty
[submodule "glfw"]
	path = glfw
	url = https://github.com/elmindreda/glfw.git
	ignore = dirty
[submodule "mwtao/tao"]
	path = mwtao/tao
	url = https://github.com/Milkyway-at-home/tao.git
[submodule "glm"]
	path = glm
	url = https://github.com/Milkyway-at-home/glm.git
	ignore = dirty