[submodule "popt/popt"]
	path = popt/popt
	url = git://ithub.com:arsenm/POPT.git
[submodule "crlibm"]
	path = crlibm
	url = git://github.com:Milkyway-at-home/crlibm.git
[submodule "boinc/boinc"]
	path = boinc/boinc
	url = git://github.com:Milkyway-at-home/BOINC.git
