*~
*.o
*.a
*.pyc
*.rej
*.orig
*.vcproj
*.vcxproj
*.sln
*.vcxproj.filters
*.vcproj.filters
*.vcxproj.user
*.vcproj.user
*.suo
*.sdf
*.opensdf
Win32
.DS_Store
ipch
config.h
Makefile
CMakeFiles
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
boinc_finish_called
boinc_lockfile
boinc_milkyway_*
tests/init_data.xml
tests/out
tests/stars.txt
tests/stderr.txt
tests/astronomy_parameters.txt
Testing/
tools/GenerateTests
tools/GenerateTests.hi
nbody_config.h
milkyway_config.h
separation_config.h
stderr.txt
stderrgfx.txt
nbody/thirdparty/dSFMT*
nbody/include/crlibm.h
nbody/include/crlibm_config.h
nbody/include/scs.h
nbody/thirdparty/
nbody_checkpoint
separation_checkpoint
init_data.xml
app_info.xml
thirdparty
*.il
*.isa
a.out
*.diff
bin/
build
popt/configmake.h
separation/tests/stars/
.#*
popt/include/popt_config.h
var/app_info.xml
tools/app_info.xml
install_manifest.txt
include/luaconf.h
boinc/boinc
AllInOneFile.c
tools/separation_il_kernelgen/il_kernelgen
libelf/config.h
libelf/lib/sys_elf.h
tmp_cl_binary*.bin
TAGS
tags
stderr_tmp*
milkyway_nbody.pdf
milkyway_nbody.log
nbody/doc/milkyway_nbody.aux
nbody/doc/milkyway_nbody.cp
nbody/doc/milkyway_nbody.cps
nbody/doc/milkyway_nbody.fn
nbody/doc/milkyway_nbody.fns
nbody/doc/milkyway_nbody.ky
nbody/doc/milkyway_nbody.log
nbody/doc/milkyway_nbody.pdf
nbody/doc/milkyway_nbody.pg
nbody/doc/milkyway_nbody.toc
nbody/doc/milkyway_nbody.tp
nbody/doc/milkyway_nbody.tps
nbody/doc/milkyway_nbody.vr
nbody/tests/.checkpoints
.checkpoints
replace_amd_il
*.bin
*.out
*.ps
*.plist
*.bak
build_iphone
