[submodule "boinc/boinc"]
	path = boinc/boinc
	url = https://github.com/Milkyway-at-home/boinc-1
	ignore = dirty
[submodule "glm"]
	path = glm
	url = https://github.com/Groovounet/glm
	ignore = dirty
[submodule "glfw"]
	path = glfw
	url = https://github.com/elmindreda/glfw
	ignore = dirty
[submodule "mwtao/tao"]
	path = mwtao/tao
	url = https://github.com/rolandjudd/tao
