*~
*.o
*.a
.DS_Store
config.h
Makefile
CMakeFiles
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
boinc_finish_called
boinc_lockfile
tests/init_data.xml
tests/out
tests/stars.txt
tests/stderr.txt
tests/astronomy_parameters.txt
Testing/

